.card {
  width: 33%;
  max-width: 275px;

  border-radius: 5px;

  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  transition: 400ms box-shadow;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .card {
    width: 49%;
  }
}

.cardImageContainer {
  width: 275px;
  height: 275px;
  background-color: var(--clr-tm-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.titleContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;

  font-family: 'Inter Bold', sans-serif;
  color: var(--clr-off-white);

  background-color: rgba(54, 101, 161, 0.8);

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
