.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  max-width: 1280px;
}
