.header {
  height: 6vh;

  padding: 1rem;
  background-color: var(--clr-tm-blue);

  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--clr-off-white);
}

.title {
  font-family: 'Patua One', sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.headerFiller {
  width: 1rem;
}

.subtitle {
  font-family: 'Patua One', sans-serif;
  font-size: 1.25rem;
  margin: 0;
}

.main {
  min-height: 88vh; /* 100vh - 8vh (header) - 6vh (footer) */
}

.underConstruction {
  padding: 1rem;
}

.footer {
  height: 6vh;

  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--clr-tm-blue);

  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--clr-off-white);
}

.filler {
  flex-grow: 1;
}

.githubIcon {
}
