.header {
  height: 6vh;

  padding: 1vh;
  background-color: var(--clr-tm-blue);

  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--clr-off-white);
}

.title {
  font-family: 'Patua One', sans-serif;
  font-size: 3vh;
  margin: 0;
}

.headerFiller {
  width: 1vh;
}

.subtitle {
  font-family: 'Patua One', sans-serif;
  font-size: 2vh;
  margin: 0;
  overflow: clip;
}

.main {
  min-height: var(--sz-main);
}

.underConstruction {
  padding: 1rem;
}

.footer {
  height: 6vh;

  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--clr-tm-blue);

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 2vh;
  color: var(--clr-off-white);
}

.filler {
  flex-grow: 1;
}

.githubIcon {
}
