.header {
  padding: 1rem;
  background-color: var(--clr-tm-blue);

  color: #ffffff;
}

.title {
  font-family: 'Patua One', sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.footer {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--clr-tm-blue);

  display: flex;
  flex-direction: row;
  align-items: center;

  color: #ffffff;
}

.filler {
  flex-grow: 1;
}

.githubIcon {
}
