@font-face {
  font-family: 'Patua One';
  src: url('fonts/PatuaOne-Regular.ttf');
}

@font-face {
  font-family: 'Inter Regular';
  src: url('fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter Bold';
  src: url('fonts/Inter-Bold.ttf');
}

* {
  box-sizing: border-box;
}

:root {
  --clr-tm-blue: #3665a1; /* (54, 101, 161) */
  --clr-off-white: #e8e8e8;
}

body {
  margin: 0;
  font-family: 'Inter Regular', sans-serif;
  background-color: var(--clr-off-white);
}
